@model List<RoleBasedAuthenticationUsingIdentity.Models.ProductTables>
<form asp-action="UploadExcel" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Select Excel File:</label>
        <input type="file" name="file" id="file" accept=".xlsx, .xls" class="form-control-file" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
